<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login page</title>
</head>
<body>
    <form action="/login" method="POST">
        <h1>Login</h1>
        <div>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <input type="submit" value="Log in" />
    </form>
    <div id="fail-login-msg">
        <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    </div>
</body>
</html>